/* **********************************
    Default styles (Mobile First) 
*************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    width: 98%;

    margin: 20px auto;
}

.wrapper > h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.wrapper > textarea {
    width: 100%;
    height: 150px;
}

.output-wrapper {
    width: 100%;
    position: relative;
}

.output-wrapper > pre {
    border: 1px solid #ccc;
    background: #f4f4f4;;
    width: 100%;
    padding: 10px;
    margin: 0;
    
    white-space: pre-wrap;  /* if there is a space in word followed my the long word, then during the overflowing break the word from space */
    word-wrap: break-word;  /* if sigle word is too long it will break word, without overflowing */
}

.output-wrapper > pre .json-error { color: red; }
.output-wrapper > pre .json-key { color: brown; font-weight: bold; }
.output-wrapper > pre .json-string { color: green; }
.output-wrapper > pre .json-number { color: blue; }
.output-wrapper > pre .json-boolean { color: orange; }
.output-wrapper > pre .json-null { color: red; }

.button-group {
    position: absolute;
    top: 0;
    right: 0;
    margin:5px;

    display: flex;
    gap: 2px;
}

.button-group > button {
    opacity: 0.5;
}

.button-group > button:hover {
    opacity: 1;
}




/* **********************************
    Tablet screens (>= 768px) 
*************************************/
@media (min-width: 768px) {
    .wrapper {
        width:min(80%, 1024px);
    }
}

/* **********************************
    Desktop screens (>= 1024px) 
*************************************/
@media (min-width: 1024px) {}